body{
    background-color: #feebed;
}

.centrar{
    margin-left: 19%;
    margin-right: 19%;
}

@media (min-width: 600px) and (max-width: 1023px){
    .boton{
    width: fit-content;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    }
    .centrar{
    width: fit-content;
    }

 } 


@media (max-width: 599px) {
    .boton{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .centrar{
        width: fit-content;
     } 

}